@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #f8da56;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .register-form{
    width: 30%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    padding-top: 30px;
}
.register-form h4{
    font-weight: 500;
}
.register-form form{
    width: 100%;
    box-sizing: border-box;
}
.register-form form .form-control{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
}
.register-form form .form-control input{
    width: 85%;
    display: block;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 13px;
}
.register-form form .form-control p{
    display: none;
}
.register-form form .form-control p.validation{
    width: 85%;
    margin: 0;
    font-size: 9px;
    color: red;
    display: block !important;
}
.register-form form .form-control .password-icon{
    position: absolute;
    right: 25px;
    top: 5px;
    cursor: pointer;
}
.register-form form .form-control .password-icon .hidden-password{
    display: none;
}
.register-form form .form-control button{
    width: 90%;
    font-size: 13px;
    padding: 7px 0;
    font-weight: 600;
    cursor: pointer;
    background-color: #21a957;
    color: #fff;
    border: 1px solid #21a957;
    border-radius: 3px;
}
.register-form .back-to-login{
    font-size: 11px;
    margin-bottom: 20px;
}
.register-form .user-profil{
    position: absolute;
    top: -50px;
}
